{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}

<footer class="nk-footer bg-theme ov-h overlay-x fw-4">
    <section class="section section-m  tc-light tc-light-alt bg-transparent">
        <div class="container">
            <!-- Block @s -->
            <div class="nk-block nk-block-footer">
                <div class="row justify-content-between text-center text-sm-left">
                    <div class="col-lg-3 col-md-4 col-sm-5">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title text-white animated" data-animate="fadeInUp" data-delay=".1">CONTACT</h6>
                            <div class="wgs-body">
                                <ul class="wgs-list mt-3 animated" data-animate="fadeInUp" data-delay=".2">
                                    <li>Centre zabana, BLIDA</li>
                                    <li><a href="mailto:hello@octopus-consulting.com">hello@octopus-consulting.com</a></li>
                                    <li><a href="tel:0672606639">+213672 606 639</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-md-4 col-sm-3">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title text-white animated" data-animate="fadeInUp" data-delay=".3">Liens Utiles</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links wgs-links-s3 animated" data-animate="fadeInUp" data-delay=".4">
                                    {% comment %} <li><a href="#">ESPACE CLIENT</a></li> {% endcomment %}
                                    <li><a href="#">Devis</a></li>
                                    <li><a href="{% url 'core:services' %}">E-commerce</a></li>
                                    <li><a href="{% url 'core:services' %}">Gym APP</a></li>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-2 col-md-4 col-sm-3">
                        <div class="wgs wgs-menu">
                            <h6 class="wgs-title text-white animated" data-animate="fadeInUp" data-delay=".5">Liens Rapides</h6>
                            <div class="wgs-body">
                                <ul class="wgs-links wgs-links-s3 animated" data-animate="fadeInUp" data-delay=".6">
                                            <ul class="ft-link">
                                                <li><a href="{% url 'core:contact' %}">CONTACT</a></li>
                                                <li><a href="{% url 'core:index' %}#abou">OCTOPUS-CONSULTING</a></li>
                                                <li><a href="{% url 'core:services' %}">SERVICES</a></li>
                                                <li><a href="{% url 'core:articles' %}">BLOG</a></li>
                                                <li><a href="{% url 'core:realisations' %}">REALISATIONS</a></li>
                                            </ul>
                                </ul>
                            </div>
                        </div>
                    </div><!-- .col -->
                    <div class="col-lg-4 col-md-8 offset-lg-1">
                        <div class="wgs wgs-text">
                            <div class="wgs-logo animated" data-animate="fadeInUp" data-delay=".7">
                                <a href="/">
                                    <img src="{% static 'images/logo.png' %}" srcset="{% static 'images/logo.png' %}" alt="logo">
                                </a>
                            </div>
                            <div class="wgs-body">
                                <div class="wgs-subscribe wgs-subscribe-s2">
                                    <p class="animated" data-animate="fadeInUp" data-delay=".8"></p>
                                    <ul class="social pt-2">
                                        <li class="animated" data-animate="fadeInUp" data-delay=".9"><a href="https://wa.me/213672606639"><em class="social-icon fab fa-whatsapp"></em><span>whatsapp</span></a></li>
                                        <li class="animated" data-animate="fadeInUp" data-delay=".95"><a href="https://www.facebook.com/OctopusConsultingAlgerie"><em class="social-icon fab fa-facebook-f"></em></a></li>
                                        <li class="animated" data-animate="fadeInUp" data-delay="1"><a href="https://www.instagram.com/octopus.consulting/"><em class="social-icon fab fab fa-instagram"></em></a></li>
                                        <li class="animated" data-animate="fadeInUp" data-delay="1.05"><a href="https://www.linkedin.com/company/dz-octopus-consulting/"><em class="social-icon fab fa-linkedin-in"></em></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div><!-- .col -->
                </div><!-- .row -->
            </div><!-- .block @e -->
        </div>
    </section>
                <div class="footer-bottom pdt-r">
                    <div class="copyright-text copyright-text-s1 text-center text-sm-left text-lg-center">
                        <p>Copyright &copy;<script>document.write(new Date().getFullYear());</script> Tout droits resérvé Octopus Consulting</p>
                    </div>
                </div>
                <br>
</footer>
