{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="js">
<head>
	<meta charset="utf-8">
    <meta name="author" content="Softnio">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <!-- Fav Icon  -->
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}">
    <!-- Site Title  -->
    <title>{% trans "Octopus Consulting | Agence de marketing digital" %}</title>
    <!-- Bundle and Base CSS -->
    <link rel="stylesheet" href="{% static 'css/vendor.bundle.css' %}">
    <link rel="stylesheet" href="{% static 'css/style-salvia.css' %}" id="changeTheme">
    <!-- Extra CSS -->
    <link rel="stylesheet" href="{% static 'css/theme.css' %}">

</head>
<body class="nk-body body-wider mode-onepage">
	<div class="nk-wrap">
        {% include  "navbar.html" %} 
        <div class="header-banner bg-theme-grad-s2">
            <div class="nk-banner">
                <div class="banner banner-page">
                    <div class="banner-wrap">
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-xl-6 col-lg-9">
                                    <div class="banner-caption cpn tc-light text-center">
                                        <div class="cpn-head">
                                            <h2 class="title ttu">Services</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-banner -->
            <div class="nk-ovm shape-z6-sm">
            </div>
        </div>
        <main class="nk-pages">
            <div class="section">
                <div class="container">
                    <div class="nk-block">
                     <!-- // -->
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s3">
                        <div class="section-head section-head-s7 wide-auto-sm text-center">
                            <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay=".1">{% trans "NO SERVICES" %}</h2>
                            <p class="lead animated" data-animate="fadeInUp" data-delay=".2"></p>
                        </div>
                        <div class="row justify-content-center gutter-vr-30px">
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".3">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg fas fa-shopping-cart"></em> 
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">{% trans "E-commerce" %}</h4>
                                        <p class="fw-4">{% trans 'Obtenez un site e-commerce sur mesure : Choisissez les options que vous souhaitez et un design a votre image.' %}</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".4">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg fas fa-solid fa-pen-nib"></em> 
                                       
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">{% trans 'Design d&#8216;Interfaces' %}</h4>
                                        <p class="fw-4">{% trans "Qu'est ce que le design d'Interfaces ?." %}</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-auto">
                                         <em class="icon icon-grd icon-lg fas fa-solid fa-laptop-code"></em>
                                     
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">{% trans "Applications web" %}</h4>
                                        <p class="fw-4">{% trans "Mais alors, qu'est ce qui le differencie d'un site web ?" %}</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-4 col-md-6">
                                <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                    <div class="feature-icon feature-icon-auto">
                                        <em class="icon icon-grd icon-lg fas fa-solid fa-bullhorn"></em> 
                                       
                                    </div>
                                    <div class="feature-text">
                                        <h4 class="title-sm title-semibold">{% trans "Campagnes Publicitaires" %}</h4>
                                        <p class="fw-4">{% trans "Créer une solide image de marque et d’assurer une bonne présence en ligne." %}</p>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- Block @e -->
            <!-- // -->
                       
                </div>
            </div>
            <!-- // -->
        </main>
    </div>
{% include  "footer.html" %} 
</body>
<div class="preloader"><span class="spinner spinner-round"></span></div>
<!-- JavaScript -->
<script src="{% static 'js/jquery.bundle.js' %}"></script>
<script src="{% static 'js/scripts.js' %}"></script>
<script src="{% static 'js/charts.js' %}"></script>
<script src="{% static 'js/wow.js' %}"></script>
<script src="https://use.fontawesome.com/46f5d04788.js"></script>

</html>
{% endblock content %}