{% extends "base.html" %}
{% load static %}
{% load i18n %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
{% block content %}
<body class="nk-body body-wider mode-onepage">
	<div class="nk-wrap">
        {% include  "navbar.html" %} 
        <div class="header-banner bg-theme-grad-s2">
            <div class="nk-banner">
                <div class="banner banner-page">
                    <div class="banner-wrap">
                        <div class="container">
                            <div class="row justify-content-center align-items-center">
                                <div class="col-xl-6 col-lg-9">
                                    <div class="banner-caption cpn tc-light text-center">
                                        <div class="cpn-head">
                                            <h2 class="title ttu">SERVICES</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!-- .nk-banner -->
            <div class="nk-ovm shape-z6-sm">
            </div>
        </div>
        <main class="nk-pages">
            <!-- // -->
            <section class="section bg-white">
                <div class="container">
                    <!-- Block @s -->
                    <div class="nk-block nk-block-features-s3">
                        <div class="section-head section-head-s7 wide-auto-sm text-center">
                            <h2 class="title title-thin animated" data-animate="fadeInUp" data-delay=".1">{% trans "Découvrez nos services en détail." %}</h2>
                            {% comment %} <p class="lead animated" data-animate="fadeInUp" data-delay=".2">Découvrez nos services en détail.</p> {% endcomment %}
                        </div>
                        <div class="row justify-content-center gutter-vr-30px">
                            {% for service in services  %}
                                <div class="col-lg-4 col-md-6">
                            <a href="{% url 'core:service_detail' service.pk %}">
                                    <div class="feature feature-s3 feature-center animated" data-animate="fadeInUp" data-delay=".5">
                                        <div class="feature-icon feature-icon-auto">
                                            <em class="icon icon-grd icon-lg {{service.icon}}"></em> 
                                        </div>
                                        <div class="feature-text">
                                            <h4 class="title-sm title-semibold">{{service.name}}</h4>
                                            <p class="fw-4">{{service.title}}</p>
                                        </div>
                                    </div>
                                </a>
                                </div><!-- .col -->
                            {% endfor %} 
                        </div><!-- .row -->
                    </div><!-- Block @e -->
                </div>
            </section>
            <!-- // -->
         <!-- // -->
        </main>
    </div>
</body>


</html>
{% endblock content %}